
process {
    // process settings
    
    executor = "local"  // Executor, for example "pbs", "slurm", ...
    
    beforeScript = ""   // Script to execute before each job, for example "module add singularity"
    queue = null        // Job queue, for example "long"
    
    // customize resources per process
    //withLabel: "colabdesign|rfdiffusion" {
    //    queue = 'gpu-t4'
    //    memory = '16 GB'
    //    cpus = 4
    //    // alternatively to memory and cpus, you can specify cluster job submission options directly
    //    // clusterOptions = "-l select=1:ncpus=4:mem=20gb"
    //}
}
//
//params {
//    // override default parameters here
//    foo = "bar"
//}
