
params {

    // optional args
    run_parameters = ""
    alphafold_models_path = "${params.reference_files_dir}/alphafold_models/"

    // required args
    // reference_files_dir: Default path to model weight files - individual model weight paths can be overriden
    // alphafold_models_path: Path to AlphaFold2 model parameters directory (or S3 URI)
    // pdb_dir: Input directory with PDB files
    // design_type: "binder" or "scaffold"
}


def limit_memory(memory) {
    if (!params.containsKey("max_memory")) {
        return memory;
    }
    if ((memory as nextflow.util.MemoryUnit) > (params.max_memory as nextflow.util.MemoryUnit)) {
        return params.max_memory
    }
    return memory
}

process {
    withLabel: colabdesign {
        memory = limit_memory("32 GB")
    }
}
