
params {

    // optional args
    run_parameters = ""  // additional cli args to pass to dl_interface_design_extended.py

    // required parameters
    // pdb_dir: Path to RFdiffusion design PDB folder
    // relax_cycles: Number of fastrelax cycles
}

def limit_memory(memory) {
    if (!params.containsKey("max_memory")) {
        return memory;
    }
    if ((memory as nextflow.util.MemoryUnit) > (params.max_memory as nextflow.util.MemoryUnit)) {
        return params.max_memory
    }
    return memory
}

process {
    withLabel: fastrelax {
        memory = limit_memory("32 GB")
    }
    withLabel: colabdesign {
        memory = limit_memory("32 GB")
    }
}
