params {
    // path to built singularity images
    ovo_container_dir = 'file:///absolute/path/to/singularity/images/'
}

process {
    beforeScript = "module add singularity" // commands to run at the start of each job

    withLabel: "pyrosetta_interface_metrics|fastrelax|colabdesign|rfdiffusion" {
        cpus = 4
    } 

}

