params {
    // Images should be built with docker-compose, uploaded to the HPC and converted to Singularity format
    //
    // Build ovo-container repository images locally with docker-compose:
    // docker compose build
    //
    // Upload images to HPC:
    // for image in ovo-colabdesign ovo-proteinmpnn-fastrelax ovo-rfdiffusion ovo-python-structure ovo-bindcraft; do
    //   echo Uploading $image; 
    //   docker save $image | ssh myhpc.url.com "cat > /scratch/some_path/$image.tar"; 
    // done
    // 
    // Build images into sif format (on the HPC):
    // export SINGULARITY_TMPDIR=/scratch/singularity
    // mkdir -p $SINGULARITY_TMPDIR
    // for image in ovo-colabdesign ovo-proteinmpnn-fastrelax ovo-rfdiffusion ovo-python-structure ovo-bindcraft; do
    //   echo Converting $image;
    //   singularity build ~/ovo/containers/$image docker-archive:///scratch/some/path/$image.tar
    // done
    
    // path to built singularity images
    ovo_container_dir = 'file:///absolute/path/to/singularity/images/'
}

process {
  // executor type
  executor = "pbspro"
  
  // default queue
  queue = "general_cloud"
  
  // add automatic retries to handle random job failures
  errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'terminate' }
  maxRetries = 2
  
  // commands to run at the start of each job
  beforeScript = "module add singularity"

  withLabel: "colabdesign|rfdiffusion" {
    queue = "gpu_moldyn"
    clusterOptions = "-l select=ncpus=4:mem=15gb:cloud_node_instance_type=g4dn.xlarge" // T4 GPU
  }
  
  withLabel: "boltz" {
    queue = "gpu_a10g"
    clusterOptions = "-l select=ncpus=4:mem=15gb" // A10G GPU
  }
  
}

