
params {

    // optional parameters
    if (params.containsKey("reference_files_dir")) {
      alphafold_models_path = "${params.reference_files_dir}/alphafold_models/"
    }
    alphafold_single_model = false
    num_replicas = 1

    // required parameters
    input_pdb = null
    input_json_path = null
    settings_advanced = null
    settings_filters = null
    time_limit_seconds = null
}
