
params {

    // optional parameters
    max_memory = null
    batch_size = 50
    save_traj = false
    hotspot = ""
    rfdiffusion_run_parameters = ""
    backbone_filters = "none"
    mpnn_fastrelax_cycles = 0
    mpnn_num_sequences = 1
    mpnn_run_parameters = ""
    disable_pyrosetta_scoring = false
    esmfold_fp16 = false
    refolding_tests = null
    if (params.containsKey("reference_files_dir")) {
        rfdiffusion_models_path = "${params.reference_files_dir}/rfdiffusion_models/"
        alphafold_models_path = "${params.reference_files_dir}/alphafold_models/"
        esmfold_models_path = "${params.reference_files_dir}/esmfold_v1"
    }

    // required parameters
    design_type = null
    rfdiffusion_num_designs = null
    rfdiffusion_contig = null
    rfdiffusion_input_pdb = null
}


def limit_memory(memory) {
    if (!params.containsKey("max_memory")) {
        return memory;
    }
    if ((memory as nextflow.util.MemoryUnit) > (params.max_memory as nextflow.util.MemoryUnit)) {
        return params.max_memory
    }
    return memory
}


process {
    withLabel: rfdiffusion {
        memory = limit_memory("16 GB")
    }
    withLabel: fastrelax {
        memory = limit_memory("32 GB")
    }
    withLabel: pyrosetta_interface_metrics {
        memory = limit_memory("32 GB")
    }
    withLabel: colabdesign {
        memory = limit_memory("32 GB")
    }
}
