.idea
*.egg-info
/build
/data/*
__pycache__
.DS_Store
.env
rsconnect-python
bundle
.vscode/
/work
.pytest_cache
test/test.log
node_modules
test-results
workdir
ovo/pipeline/*/local/*results
dist
secrets.toml
.venv/
.nextflow/
.ipynb_checkpoints
*.global_config
/docs/build
/docs/source/apidocs/ovo
/Makefile
