
params {

    // optional parameters
    output_dir = "batch1"
    if (params.containsKey("reference_files_dir")) {
        esmfold_model_path = "${params.reference_files_dir}/esmfold_v1"
    }
    num_recycles = 4 // number of recycles during inference (4 is the largest value used during training, allowed values are [0..4])
    fp16 = false // Use mixed precision (FP16) for inference

    // required parameters
    input_path = null
    reference_files_dir = null
}
