
params {

    // optional parameters
    native_pdb = null
    max_memory = null
    batch_size = 20
    esmfold_fp16 = false
    cyclic = false

    if (params.containsKey("reference_files_dir")) {
        alphafold_models_path = "${params.reference_files_dir}/alphafold_models/"
        esmfold_models_path = "${params.reference_files_dir}/esmfold_v1"
    }

    // required parameters
    input_references = null
    input_designs = null
    design_type = null
}


def limit_memory(memory) {
    if (!params.containsKey("max_memory")) {
        return memory;
    }
    if ((memory as nextflow.util.MemoryUnit) > (params.max_memory as nextflow.util.MemoryUnit)) {
        return params.max_memory
    }
    return memory
}


process {
    withLabel: colabdesign {
        memory = limit_memory("32 GB")
    }
}
