
params {

    // optional parameters
    esm_models_path = "${params.reference_files_dir}/esm_models/"

    // required parameters
    // output_dir: Name of output batch directory
    // pdb_dir: Input path to directory with PDB files
    // chains: Comma-separated list of chain IDs to evaluate
    // reference_files_dir: Default path to model weight files - individual model weight paths can be overriden
    
}
