
params {
    reference_files_dir = ""

    // optional parameters
    max_memory = null
    batch_size = 50
    esm_models_path = params.reference_files_dir ? "${params.reference_files_dir}/esm_models/" : null
    peppatch_config_path = "/opt/resources/feature_set.json"
    hydrophobicity_scale_path = "/opt/resources/hydrophobicity_scales/scale_Ja.csv"

    // required parameters
    input_pdb = null
    tools = null
    chains = null
}

def limit_memory(memory) {
    if (!params.containsKey("max_memory")) {
        return memory;
    }
    if ((memory as nextflow.util.MemoryUnit) > (params.max_memory as nextflow.util.MemoryUnit)) {
        return params.max_memory
    }
    return memory
}

process {
    withLabel: colabdesign {
        memory = limit_memory("32 GB")
    }
}
