
params {
    // required parameters
    env = null
    dirs = ""

    // optional parameters
    ip = "0.0.0.0"
    port = 8888
    run_parameters = ""
    cpus = 4
    memory = "15 GB"
    queue = null
    cluster_options = null
    socket_dir = "/tmp/ovo-sockets" // will be overridden in OVO CLI
    no_unix_sockets = false
}


profiles {
    docker {
        process {
            containerOptions = " -p ${params.port}:${params.port}"
        }
    }
    podman {
        process {
            containerOptions = " -p ${params.port}:${params.port}"
        }
    }
    singularity {
        process {
            containerOptions = params.no_unix_sockets
              ? " --net --network-args 'portmap=${params.port}:${params.port}/tcp' "
              : " -B '${params.socket_dir}:${params.socket_dir}' "
        }
    }
    apptainer {
        process {
            containerOptions = params.no_unix_sockets
              ? " --net --network-args 'portmap=${params.port}:${params.port}/tcp' "
              : " -B '${params.socket_dir}:${params.socket_dir}' "
        }
    }
}
