
params {

    // required parameters
    // output_dir: Name of output batch directory
    // pdb_dir: Input path to directory with PDB files
    // chains: Comma-separated list of chain IDs to evaluate

    // optional parameters
    peppatch_config_path = "/opt/resources/feature_set.json"
    hydrophobicity_scale_path = "/opt/resources/hydrophobicity_scales/scale_Ja.csv"
}
