params {
    publish_dir = "/mnt/workflow/pubdir"
    docker_repository =  "${params.account_id}.dkr.ecr.${params.aws_region}.amazonaws.com/dev-"
    rfdiffusion_models_path = "s3://${params.workflow_bucket}/rfdiffusion/rfdiffusion_models/" // needs to end with rfdiffusion_models
    alphafold_models_path = "s3://omics-${params.aws_region}/alphafold_multimer/alphafold_params_2022-12-06.tar"
    esmfold_models_path = "s3://${params.workflow_bucket}/esmfold_v1/"

    // Override default OVO workflow path import
    getSharedPipelinePath = (String pipelineName) -> {
        def moduleName = "ovo"
        if (pipelineName.contains(".")) {
            def parts = pipelineName.split("\\.", 2)
            moduleName = parts[0]
            pipelineName = parts[1]
        }
        return "/mnt/workflow/definition/${moduleName}/${pipelineName}"
    }
}
